{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class='text-center bg-2 container-fluid '>

        <div class='bg-3 '>

            <article class="animScale">
                <h1>Produit : {{ produit.libelle }}</h1>
                <small>Prix : {{ produit.price }} &euro;</small>
                <p><img src="{{ asset(produit.img) }}"></p>
    
                <div class='show-action'>
                    <div class='group-action'>
                        <a class="btn btn-info" href="{{ path('produit_index') }}">back to list</a>
                    </div>
    
                    <div class='group-action'>
                        <a class="btn btn-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                    </div>
                    {{ include('produit/_delete_form.html.twig') }}
                </div> 
            </article>

        </div>

    </div>
{% endblock %}
